:root {
  /* Primary Colors */
  --primary-yellow: #ffcc00;
  --beacon-yellow: #ffff00;

  /* Neutral Colours */

  --gray: #bebeb9;
  --light-gray: #ebebeb;
  --black: #1e1e1e;
  --white: #ffffff;
}

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--black);
}

body {
    background-color: var(--primary-yellow);
    font-size: 18px;
}

h1 {
  font-size: 70px;
}

h2 {
    font-size: 38px;
    
}

p {
  font-size: 18px;

  color: var(--gray);
}
